<?xml version="1.0"?>
<model>
    <name>main pipe</name>
    <version>1.0</version>
    <sdf version="1.5">sidebar.sdf</sdf>
    <author>
        <name>Semen Scherbina</name>
        <email>scherbinasu@yandex.ru</email>
    </author>
    <description>
        tie-in to the main pipe to be searched for
    </description>
</model>